app/fashion-d2c-app/frontend/.next
app/fashion-d2c-app/frontend/node_modules
app/fashion-d2c-app/frontend/.env

app/fashion-d2c-app/backend/__pycache__
app/fashion-d2c-app/backend/routers/__pycache__
app/fashion-d2c-app/backend/venv
app/fashion-d2c-app/backend/.env