# Database Credentials
MARIADB_ROOT_PASSWORD=YOUR_MARIADB_ROOT_PASSWORD
MARIADB_USER=YOUR_MARIADB_USER
MARIADB_USER_PASSWORD=YOUR_MARIADB_USER_PASSWORD

# Docker Compose Infrastructure Variables
ENV_COLOR=BLUE_OR_GREEN_ENV_NAME
DB_PORT=DATABASE_PORT_ACCORDING_TO_BLUE_OR_GREEN_ENV
BACKEND_PORT=BACKEND_PORT_ACCORDING_TO_BLUE_OR_GREEN_ENV
FRONTEND_PORT=FRONTEND_PORT_ACCORDING_TO_BLUE_OR_GREEN_ENV
IMAGE_TAG=DOCKER_IMAGE_TAG_LATEST_OR_PREVIOUS_ACCORDING_TO_BLUE_OR_GREEN_ENV