MARIADB_GREEN_ROOT_PASSWORD=YOUR_ROOT_PASSWORD
MARIADB_GREEN_PASSWORD=YOUR_MYSQL_PASSWORD
MARIADB_GREEN_DATABASE=YOUR_MYSQL_DATABASE
MARIADB_GREEN_USER=YOUR_MYSQL_USER
MARIADB_GREEN_PORT=YOUR_MYSQL_PORT